<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <ion-icon name="time" item-start></ion-icon>
      Tracker
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div *ngIf="selectedItem" padding>
    You navigated here from {{tracker==null? "": tracker|json}}
  </div>

  <h3>
    {{tracker.title}}</h3>
  <ion-badge item-end> {{tracker.length}}</ion-badge>

  <ion-list>
    <button ion-item *ngFor="let item of tracker">
     <span *ngIf="getKeys(item)">
          <ion-grid  *ngFor="let key of keys">
            <ion-row>
                <ion-col>{{key}}</ion-col>
                <ion-col>{{item[key]}}</ion-col>
            </ion-row>
        </ion-grid>
    </span>
    </button>
  </ion-list>

</ion-content>
